In [ ]:
# ASSIGNMENT -
# SEND IT TO 
TO :-QUERY@INEURON.AI,
CC :- SUNNY@INEURON.AI , RIISHAV@INEURON.AI, BOKTIAR@INEURON.AI
# SUBJECT [BOOTHCAMP 2.0] [ASSIGNMENT NO. 1]

1 = FIND OUT ALL THE TYPES OF ERROR 
2. TAKE INPUT A AND B AND PRINT THEIR 
    > SUM,MULTI,DIV, SQUARE OF NOS
    
3. HOW MAN RESERVED KEYS ARE THEIR IN PYTHON AND WHY WE SHOULD NOT USE THEM AS A VAIABLE
4. HOW MANY CREATE EMAIL IDS WITH THE USER INPUT IN THE FOLLOWING PART 
    > LASTNAME. FIRSTNAME @GMAIL.COM
5. TRY TO PRINT THE FOLLOWING LINES AS INPUT
    > hii i am dev
    > my address is 123
    > i earn 20$ daily.
6. Take user input to fill a form for your college and create their email ids
     name, address,date of bith
    
7. covert the following
    > "22.4" into int
    > "22" into complex no

In [2]:
a  "india"

SyntaxError: invalid syntax (2877723126.py, line 1)

#### SyntaxError

In [1]:
a = india

NameError: name 'india' is not defined

In [4]:
1a = 'india'

SyntaxError: invalid syntax (64398617.py, line 1)

In [5]:
for i in range(0,10):
print('XYZ')

IndentationError: expected an indented block (1706363412.py, line 2)

In [6]:
for i in range(0,10)
print('XYZ')

SyntaxError: invalid syntax (844306668.py, line 1)

In [8]:
A = 1223'4'

SyntaxError: invalid syntax (1187478276.py, line 1)

In [12]:
1233 = "india"

SyntaxError: cannot assign to literal (1547975936.py, line 1)

In [13]:
a , b, c = 1,'india'

ValueError: not enough values to unpack (expected 3, got 2)

In [14]:
a + 2

TypeError: can only concatenate str (not "int") to str

In [15]:
a + b

NameError: name 'b' is not defined

In [17]:
a = int(input('here error will be : '))

here error will be : dev

ValueError: invalid literal for int() with base 10: 'dev'

In [18]:
a

['a', 'b', 'c', 4, 6.7]

In [19]:
a[:::]

SyntaxError: invalid syntax (2945270688.py, line 1)

In [20]:
a[0,2]

TypeError: list indices must be integers or slices, not tuple

In [21]:
ERROR = 'xyz'
print(error)

NameError: name 'error' is not defined

In [22]:
@error = 'india'

SyntaxError: invalid syntax (366141870.py, line 1)

In [23]:
a

['a', 'b', 'c', 4, 6.7]

In [26]:
a.insert(2,'dev)

SyntaxError: EOL while scanning string literal (3464359891.py, line 1)

In [27]:
a + 'india'

TypeError: can only concatenate list (not "str") to list

following types of error are
1) SyntaxError
2) TypeError
3) NameError
4) ValueError
5) IndentationError
6) NameError

In [32]:
# 2. TAKE INPUT A AND B AND PRINT THEIR 
#   > SUM,MULTI,DIV, SQUARE OF NOS 


a = int(input("Enter here value of a :"))
b = int(input("Enter here value of b :"))

Addition = a + b
substraction = a - b
multiplication = a*b
division = a/b
square = a**b
muldo = a%b

print(f"sum of {a} and {b} is : {Addition}")
print(f"substraction of {a} and {b} is : {substraction}")
print(f"multiplicaion of {a} and {b} is : {multiplication}")
print(f"division of {a} and {b} is : {division}")
print(f"square of {a} and {b} is : {square}")
print(f"muldo of {a} and {b} is : {muldo}")

Enter here value of a :10
Enter here value of b :20
sum of 10 and 20 is : 30
substraction of 10 and 20 is : -10
multiplicaion of 10 and 20 is : 200
division of 10 and 20 is : 0.5
square of 10 and 20 is : 100000000000000000000
muldo of 10 and 20 is : 10

In [36]:
# 3. HOW MANY RESERVED KEYS ARE THEIR IN PYTHON AND WHY WE SHOULD NOT USE THEM AS A VAIABLE


"""
type()
len()
del()
print()
if
else
elif
next
input
int
str
float
bool
def 
for
in 
range
try
True
False
class
finally
return
None
as
lambda
continue
break
pass


"""

'\ntype()\nlen()\ndel()\nprint()\nif\nelse\nelif\nnext\ninput\nint\nstr\nfloat\nbool\ndef \nfor\nin \nrange\ntry\nTrue\nFalse\nclass\nfinally\nreturn\nNone\nas\nlambda\ncontinue\nbreak\npass\n\n\n'

In [45]:
# 4. HOW MANY CREATE EMAIL IDS WITH THE USER INPUT IN THE FOLLOWING PART 
#> LASTNAME. FIRSTNAME @GMAIL.COM

name = input('Enter the name of candidate : ')
lastname = input('Enter last name : ')
age = int(input('Enter age : '))


print(f"{lastname[0:5]}{name[0:5]}{age}@gmail.com")

Enter the name of candidate : dev
Enter last name : mandloi
Enter age : 25
mandldev25@gmail.com

In [48]:
# TRY TO PRINT THE FOLLOWING LINES AS INPUT
#    > hii i am dev
#    > my address is 123
#    > i earn 20$ daily.

a = input('Enter name : ')
b = input('Enter address : ')
c = input('Enter earning : ')

print(f"hii i am {a}")
print(f"my address is {b}")
print(f"i earn {c} daily")

Enter name : dev mandloi
Enter address : indore mp
Enter earning : 500
hii i am dev mandloi
my address is indore mp
i earn 500 daily

In [59]:
# Take user input to fill a form for your college and create their email ids
# name, address,date of birth


name = input('Enter the name of candidate : ')
age = int(input('Enter the age of candidate : '))
address = input('Enter your address : ')
dob = input('Enter your date of birth : ')
contact = int(input('Enter your phone details : '))

print(f"""
Thanks for your time here is your details :
name : {name}
age : {age}
address : {address}
dob : {dob}
contact : {contact}
your college id is :- {name}{age}{address[0:3]}@gmail.com
""")

Enter the name of candidate : dev
Enter the age of candidate : 25
Enter your address : indore
Enter your date of birth : 14/03/1998
Enter your phone details : 8435343811

Thanks for your time here is your details :
name : dev
age : 25
address : indore
dob : 14/03/1998
contact : 8435343811
your college id is :- dev25ind@gmail.com

In [62]:
#7. covert the following
#    > "22.4" into int
#    > "22" into complex no

a = 22.4
b = 22


print(int(a))
print(complex(b))

22
(22+0j)